<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"

      lang="en">
<head>
    <th:block>
       <link rel="stylesheet" href="../../static/vendor/jquery-ui/jquery-ui.css"
             th:href="@{/vendor/jquery-ui/jquery-ui.css}"/>
       <link rel="stylesheet" href="../../static/vendor/font-awesome/css/font-awesome.css"
             th:href="@{/vendor/font-awesome/css/font-awesome.css}"/>
       <link rel="stylesheet" href="../../static/css/style.min.css"
             th:href="@{/css/style.min.css}"/>
       <link rel="stylesheet" href="../../static/css/styles.css"
             th:href="@{/css/styles.css}"/>
   </th:block>
   <th:block>
       <script src="../../static/vendor/js/main.min.js"
               th:src="@{/vendor/js/main.min.js}"></script>
       <script src="../../static/vendor/jquery-ui/jquery-ui.js"
               th:src="@{/vendor/jquery-ui/jquery-ui.js}"></script>
       <script src="../../static/vendor/js/jquery.mask.js"
               th:src="@{/vendor/js/jquery.mask.js}"></script>
   </th:block> 
</head>
<body class="vi-vn">
<!-- <header th:replace="_fragments/layout::header">
</header> -->
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menuLite"></th:block>

<!-- <div class="container home" style="min-height: 70%">
    <div class="container"> -->
        <div class="title">
            <h3>Your password has been changed successfully!</h3>
        </div>
        <br>
        <a th:href="@{/machineList}">Home</a> 
<!--     </div>
</div>
 -->
<footer th:replace="/_footer"></footer>

</body>
</html>