<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"

      lang="en">
<head>
    <th:block>
        <link rel="stylesheet" href="../../static/vendor/jquery-ui/jquery-ui.css"
              th:href="@{/vendor/jquery-ui/jquery-ui.css}"/>
        <link rel="stylesheet" href="../../static/vendor/font-awesome/css/font-awesome.css"
              th:href="@{/vendor/font-awesome/css/font-awesome.css}"/>
        <link rel="stylesheet" href="../../static/css/style.min.css"
              th:href="@{/css/style.min.css}"/>
        <link rel="stylesheet" href="../../static/css/styles.css"
              th:href="@{/css/styles.css}"/>
    </th:block>
    <th:block>
        <script src="../../static/vendor/js/main.min.js"
                th:src="@{/vendor/js/main.min.js}"></script>
        <script src="../../static/vendor/jquery-ui/jquery-ui.js"
                th:src="@{/vendor/jquery-ui/jquery-ui.js}"></script>
        <script src="../../static/vendor/js/jquery.mask.js"
                th:src="@{/vendor/js/jquery.mask.js}"></script>
    </th:block>
</head>
<body class="vi-vn">
<!-- <header th:replace="_fragments/layout::header">
</header> -->
<!-- <th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>
<th:block th:include="/_subMenu"></th:block>  -->
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menuLite"></th:block>

<div class="container home" style="width: 100%">
    <div class="container" style="width: 100%">
        <div class="page-title">Change password</div>

        <div class="row" style="text-align: center;">
<!--         <p>Password must contains 8 character, one uppercase letter, one lowercase letter and  at least one number.</p> -->
        <form action='change-password-success.html' method='POST' th:action="@{/change-password}"
              th:object="${changePassForm}">

            <div class="col-sm-6" style="left: 25%" >
            	<br/>
            	<div class="row" style="text-align: left;">
                    Old Password<span class="manda">*</span>
                </div>
                <div class="row">
                    <input type="password" th:field="*{passwordOld}" class="selectize-input" title="Password Old"/>
                    <p class="text-danger" th:if="${#fields.hasErrors('passwordOld')}"
                       th:errors="*{passwordOld}">
                        Missing Password old
                    </p>
                </div>
                <br/>
                <div class="row" style="text-align: left;">
                    New password<span class="manda">*</span>
                </div>
                <div class="row">
                    <input type="password" th:field="*{password}" class="selectize-input" title="Password"/>
                    <p class="text-danger" th:if="${#fields.hasErrors('password')}"
                       th:errors="*{password}">
                        Missing Password
                    </p>
                </div>
                <br/>
                <div class="row" style="text-align: left;">
                    Confirm password<span class="manda">*</span>
                </div>
                <div class="row">
                    <input type="password" th:field="*{verifyPassword}" class="selectize-input"
                           title="Verify password"/>
                    <p class="text-danger" th:if="${#fields.hasErrors('verifyPassword')}"
                       th:errors="*{verifyPassword}">
                        Missing verify password
                    </p>
                </div>
                <input type="hidden" th:field="*{username}"/>
                <br/>
                <div class="row">                	
                    <button class="btn btn-primary">SEND</button>
                    <a href="login.html" class="btn btn-default" th:href="@{/machineList}">
				        BACK
				    </a>                    
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

<footer th:replace="/_footer"></footer>

</body>
</html>