<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Forgot Password</title>
		<th:block>
	        <link rel="stylesheet" href="../../static/vendor/jquery-ui/jquery-ui.css"
	              th:href="@{/vendor/jquery-ui/jquery-ui.css}"/>
	        <link rel="stylesheet" href="../../static/vendor/font-awesome/css/font-awesome.css"
	              th:href="@{/vendor/font-awesome/css/font-awesome.css}"/>
	        <link rel="stylesheet" href="../../static/css/style.min.css"
	              th:href="@{/css/style.min.css}"/>
	        <link rel="stylesheet" href="../../static/css/styles.css"
	              th:href="@{/css/styles.css}"/>
	    </th:block>
	    <th:block>
	        <script src="../../static/vendor/js/main.min.js"
	                th:src="@{/vendor/js/main.min.js}"></script>
	        <script src="../../static/vendor/jquery-ui/jquery-ui.js"
	                th:src="@{/vendor/jquery-ui/jquery-ui.js}"></script>
	        <script src="../../static/vendor/js/jquery.mask.js"
	                th:src="@{/vendor/js/jquery.mask.js}"></script>
	    </th:block>
	</head>
	<body>
		<!-- <header th:replace="_fragments/layout::header"></header> -->
		<th:block th:include="/_header"></th:block>
      	<th:block th:include="/_menuLite"></th:block>
<!-- 		<div class="container home" style="width: 100%">
	    <div class="container" style="width: 100%"> -->
	        <div class="page-title">Forgot Password</div>
			<div class="row" style="text-align: center;">
			<form method="POST" th:action="@{/reset-password}" th:object="${forgetPassForm}">
				<div class="col-sm-6" style="left: 25%">
					<div class="row" style="text-align: left;">User Name<span class="manda">*</span></div>
					<div class="row">
					    <input th:field="*{username}" class="selectize-input"/>
					    <p class="text-danger" th:if="${#fields.hasErrors('username')}"
					       th:errors="*{username}">
					        Missing username
					    </p>
					</div>
					<br/>
					<div class="row" style="text-align: left;">
					   	Email<span class="manda">*</span>
					</div>
					<div class="row">
					    <input th:field="*{email}" class="selectize-input"/>
					    <p class="text-danger" th:if="${#fields.hasErrors('email')}"
					       th:errors="*{email}">
					        Missing email
					    </p>
					</div>
					<br/>
					<div class="row">
						<button class="btn btn-primary" type="submit">SEND</button>
					    <a href="login.html" class="btn btn-default" th:href="@{/}">
					        BACK
					    </a>				    
					</div>
				</div>
			</form>
			</div>
<!-- 		</div>
		</div> -->
       
		<footer th:replace="/_footer"></footer>
       
	</body>
</html>