<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Successfully registered Machine</title>
      <th:block>
	        <link rel="stylesheet" href="../../static/vendor/datatables/css/jquery.dataTables.css"
	              th:href="@{/vendor/datatables/css/jquery.dataTables.css}"/>
	    </th:block>
	    <th:block>
	        <link rel="stylesheet" href="../../static/vendor/jquery-ui/jquery-ui.css"
	              th:href="@{/vendor/jquery-ui/jquery-ui.css}"/>
	        <link rel="stylesheet" href="../../static/vendor/font-awesome/css/font-awesome.css"
	              th:href="@{/vendor/font-awesome/css/font-awesome.css}"/>
	        <link rel="stylesheet" href="../../static/css/style.min.css"
	              th:href="@{/css/style.min.css}"/>
	        <link rel="stylesheet" href="../../static/css/styles.css"
	              th:href="@{/css/styles.css}"/>
	    </th:block>
	    <th:block>
	        <script src="../../static/vendor/js/main.min.js"
	                th:src="@{/vendor/js/main.min.js}"></script>
	        <script src="../../static/vendor/jquery-ui/jquery-ui.js"
	                th:src="@{/vendor/jquery-ui/jquery-ui.js}"></script>
	        <script src="../../static/vendor/js/jquery.mask.js"
	                th:src="@{/vendor/js/jquery.mask.js}"></script>
	    </th:block>
	    <th:block>
	        <script src="../../static/vendor/datatables/js/jquery.dataTables.js"
	                th:src="@{/vendor/datatables/js/jquery.dataTables.js}"></script>
	        <script type="text/javascript" src="../../static/vendor/dataTables.buttons.min.js"
	                th:src="@{/vendor/dataTables.buttons.min.js}">
	        </script>
	        <script type="text/javascript" src="../../static/vendor/buttons.flash.min.js"
	                th:src="@{/vendor/buttons.flash.min.js}">
	        </script>
	        <script type="text/javascript" src="../../static/vendor/jszip.min.js"
	                th:src="@{/vendor/jszip.min.js}">
	        </script>
	        <script type="text/javascript" src="../../static/vendor/pdfmake.min.js"
	                th:src="@{/vendor/pdfmake.min.js}">
	        </script>
	        <script type="text/javascript" src="../../static/vendor/vfs_fonts.js"
	                th:src="@{/vendor/vfs_fonts.js}">
	        </script>
	        <script type="text/javascript" src="../../static/vendor/buttons.html5.min.js"
	                th:src="@{/vendor/buttons.html5.min.js}">
	        </script>
	        <script type="text/javascript" src="../../static/vendor/buttons.print.min.js"
	                th:src="@{/vendor/buttons.print.min.js}">
	        </script>
	    </th:block> 
      <style>
        span {color: blue;}
      </style>
   </head>
    
   <body>
    
      <!-- Include _menu.html -->
      <th:block th:include="/_header"></th:block>
      	<th:block th:include="/_menu"></th:block>
       
      <h3>You have successfully registered!</h3>
       
      <div th:if="${flashUser != null}">
         <ul>
            <li>Machine Name: <span th:utext="${flashUser.machineName}">..</span></li>
         </ul>
      </div>
      
      <div>
      <a class="btn btn-default" th:href="@{/machineList}" href="/machineList">Go to List</a> 
      </div>
      <th:block th:include="/_footer"></th:block> 
   </body>
</html>