<div class="menu-container"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >   
   <th:block sec:authorize="hasRole('ROLE_Admin')">
   <a th:href="@{/admin/registerUser}">
   New User
   </a>
   </th:block> 
 <th:block sec:authorize="hasAnyRole('ROLE_Admin', 'ROLE_SubAdmin', 'ROLE_Accounting', 'ROLE_PutIns', 'ROLE_TakeOver', 'ROLE_UpdateReport')">
   |
   <a href="/change-password" th:href="@{/change-password}">Change Password</a>
    </th:block> 
</div>
