<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <title th:utext="${title}"></title>
      <th:block>
	        <link rel="stylesheet" href="../../static/vendor/datatables/css/jquery.dataTables.css"
	              th:href="@{/vendor/datatables/css/jquery.dataTables.css}"/>
	    </th:block>
	    <th:block>
	        <link rel="stylesheet" href="../../static/vendor/jquery-ui/jquery-ui.css"
	              th:href="@{/vendor/jquery-ui/jquery-ui.css}"/>
	        <link rel="stylesheet" href="../../static/vendor/font-awesome/css/font-awesome.css"
	              th:href="@{/vendor/font-awesome/css/font-awesome.css}"/>
	        <link rel="stylesheet" href="../../static/css/style.min.css"
	              th:href="@{/css/style.min.css}"/>
	        <link rel="stylesheet" href="../../static/css/styles.css"
	              th:href="@{/css/styles.css}"/>
	    </th:block>
	    <th:block>
	        <script src="../../static/vendor/js/main.min.js"
	                th:src="@{/vendor/js/main.min.js}"></script>
	        <script src="../../static/vendor/jquery-ui/jquery-ui.js"
	                th:src="@{/vendor/jquery-ui/jquery-ui.js}"></script>
	        <script src="../../static/vendor/js/jquery.mask.js"
	                th:src="@{/vendor/js/jquery.mask.js}"></script>
	    </th:block>
	    <th:block>
	        <script src="../../static/vendor/datatables/js/jquery.dataTables.js"
	                th:src="@{/vendor/datatables/js/jquery.dataTables.js}"></script>
	        <script type="text/javascript" src="../../static/vendor/dataTables.buttons.min.js"
	                th:src="@{/vendor/dataTables.buttons.min.js}">
	        </script>
	        <script type="text/javascript" src="../../static/vendor/buttons.flash.min.js"
	                th:src="@{/vendor/buttons.flash.min.js}">
	        </script>
	        <script type="text/javascript" src="../../static/vendor/jszip.min.js"
	                th:src="@{/vendor/jszip.min.js}">
	        </script>
	        <script type="text/javascript" src="../../static/vendor/pdfmake.min.js"
	                th:src="@{/vendor/pdfmake.min.js}">
	        </script>
	        <script type="text/javascript" src="../../static/vendor/vfs_fonts.js"
	                th:src="@{/vendor/vfs_fonts.js}">
	        </script>
	        <script type="text/javascript" src="../../static/vendor/buttons.html5.min.js"
	                th:src="@{/vendor/buttons.html5.min.js}">
	        </script>
	        <script type="text/javascript" src="../../static/vendor/buttons.print.min.js"
	                th:src="@{/vendor/buttons.print.min.js}">
	        </script>
	        <script type="text/javascript">
		        function remove_unicode() 
		        {  
		           var str = document.getElementById("emailAddress").value;
		           str= str.toLowerCase();  
		           str= str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a");  
		           str= str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,"e");  
		           str= str.replace(/ì|í|ị|ỉ|ĩ/g,"i");  
		           str= str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o");  
		           str= str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u");  
		           str= str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y");  
		           str= str.replace(/đ/g,"d");  
		           str= str.replace(/!|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\:|\;|\'| |\"|\&|\#|\[|\]|~|$|_/g,"-"); 
		         
		           str= str.replace(/-+-/g,"-"); //thay thế 2- thành 1- 
		           str= str.replace(/^\-+|\-+$/g,"");  
		           document.getElementById("emailAddress").value = str; 
		        } 
	        </script>
	    </th:block> 
      <style>
         th, td {
         padding: 5px;
         }
         td span  {
         font-size:90%;
         font-style: italic;
         color: red;
         }
         .error {
         color: red;
         font-style: italic;
         }
      </style>
   </head>
   <body>
      <!-- Include _menu.html -->
      <th:block th:include="/_header"></th:block>
      	<th:block th:include="/_menu"></th:block>

      <div class="page-title">User Details</div> 
<!--   <div class="container home" style="width: 100%">
    <div class="container" style="width: 100%">    -->   
      <div th:if="${errorMessage != null}"
           th:utext="${errorMessage}" class="error">...</div>
       
      <form th:action="@{/admin/assessorDetail}" th:object="${assessorForm}" method="POST">
         <table >
         	<!-- <tr>
               <td align="left">User ID</td>
               <td align="left"></td>
            </tr> -->
            <tr>
               <td align="left">User Name</td>
               <td align="left"><input type="text" th:field="*{name}" size="40" /><input type="text" th:field="*{assessorId}" style="display:none"/></td>
               <td>
                  <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
               </td>
            </tr>
            <tr>
               <td align="left">First Name</td>
               <td align="left"><input type="text" th:field="*{firstName}" size="40" /> </td>
               <td>
                  <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">..</span>
               </td>
            </tr>
            <tr>
               <td align="left">Last Name</td>
               <td align="left"><input type="text" th:field="*{lastName}" size="40" /> </td>
               <td>
                  <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">..</span>
               </td>
            </tr>
            <tr>
               <td align="left">Email</td>
               <td align="left"><input type="text" th:field="*{emailAddress}" size="40" id="emailAddress" onblur="remove_unicode()"/> </td>
               <td>
                  <span th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}">..</span>
               </td>
            </tr>
            <tr>
               <td align="left">Address</td>
               <td align="left"><input type="text" th:field="*{address}" size="40" /> </td>
               <td>
                  <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}">..</span>
               </td>
            </tr>
            <tr>
               <td align="left">Phone</td>
               <td align="left"><input type="text" th:field="*{phone}" size="40" /> </td>
               <td>
                  <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">..</span>
               </td>
            </tr>
            <tr>
               <td align="left">Company</td>
               <td align="left">
                  <select th:field="*{companyCode}" >
                     <option value=""> -- </option>
                     <option th:each="company : ${companies}"
                        th:value="${company.companyCode}"
                        th:utext="${company.companyName}"/>
                  </select>
               <td><span th:if="${#fields.hasErrors('companyCode')}" th:errors="*{companyCode}">..</span></td>
            </tr>
            <tr>
               <td align="left">Status</td>
               <td align="left">
                  <select th:field="*{active}">
                     <option value=true>Active</option>
                     <option value=false>Disable</option>
                  </select>
               </td>
               <td>
                  <span th:if="${#fields.hasErrors('active')}" th:errors="*{active}">..</span>
               </td>
            </tr>
            <tr>
               <td align="left">Is Locked</td>
               <td align="left">
                  <select th:field="*{locked}">
                     <option value=false>No Lock</option>
                     <option value=true>Locked</option>
                  </select>
               </td>
               <td>
                  <span th:if="${#fields.hasErrors('locked')}" th:errors="*{locked}">..</span>
               </td>
            </tr>            
            
            <tr>
               <td colspan="3" align="left">
                  <button class="btn btn-primary">SAVE</button>
                  <a class="btn btn-default" th:href="@{/userList}">BACK</a>
               </td>
            </tr>
         </table>
      </form>
<!--      </div>
    </div> -->
      <th:block th:include="/_footer"></th:block> 
   </body>
</html>