<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
   <head>
      <meta charset="UTF-8">
      <title>Tool List</title> 
      <th:block>
	        <link rel="stylesheet" href="../../static/vendor/datatables/css/jquery.dataTables.css"
	              th:href="@{/vendor/datatables/css/jquery.dataTables.css}"/>
	    </th:block>
	    <th:block>
	        <link rel="stylesheet" href="../../static/vendor/jquery-ui/jquery-ui.css"
	              th:href="@{/vendor/jquery-ui/jquery-ui.css}"/>
	        <link rel="stylesheet" href="../../static/vendor/font-awesome/css/font-awesome.css"
	              th:href="@{/vendor/font-awesome/css/font-awesome.css}"/>
	        <link rel="stylesheet" href="../../static/css/style.min.css"
	              th:href="@{/css/style.min.css}"/>
	        <link rel="stylesheet" href="../../static/css/styles.css"
	              th:href="@{/css/styles.css}"/>
	    </th:block>
	    <th:block>
	        <script src="../../static/vendor/js/main.min.js"
	                th:src="@{/vendor/js/main.min.js}"></script>
	        <script src="../../static/vendor/jquery-ui/jquery-ui.js"
	                th:src="@{/vendor/jquery-ui/jquery-ui.js}"></script>
	        <script src="../../static/vendor/js/jquery.mask.js"
	                th:src="@{/vendor/js/jquery.mask.js}"></script>
	    </th:block>
	    <th:block>
	        <script src="../../static/vendor/datatables/js/jquery.dataTables.js"
	                th:src="@{/vendor/datatables/js/jquery.dataTables.js}"></script>
	        <script type="text/javascript" src="../../static/vendor/dataTables.buttons.min.js"
	                th:src="@{/vendor/dataTables.buttons.min.js}">
	        </script>
	        <script type="text/javascript" src="../../static/vendor/buttons.flash.min.js"
	                th:src="@{/vendor/buttons.flash.min.js}">
	        </script>
	        <script type="text/javascript" src="../../static/vendor/jszip.min.js"
	                th:src="@{/vendor/jszip.min.js}">
	        </script>
	        <script type="text/javascript" src="../../static/vendor/pdfmake.min.js"
	                th:src="@{/vendor/pdfmake.min.js}">
	        </script>
	        <script type="text/javascript" src="../../static/vendor/vfs_fonts.js"
	                th:src="@{/vendor/vfs_fonts.js}">
	        </script>
	        <script type="text/javascript" src="../../static/vendor/buttons.html5.min.js"
	                th:src="@{/vendor/buttons.html5.min.js}">
	        </script>
	        <script type="text/javascript" src="../../static/vendor/buttons.print.min.js"
	                th:src="@{/vendor/buttons.print.min.js}">
	        </script>
	    </th:block> 	
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
	<!--       <th:block th:include="/_subMenuTool"></th:block>   -->
      <div class="page-title">Tool List</div>  
      <th:block sec:authorize="hasRole('ROLE_Admin')">
	  <table style="width:100%">
	  <tr>
           <td align="left"><a class="btn btn-primary text-uppercase" style="width:70px; font-size:12px" th:href="@{|/admin/registerTool|}">New</a></td>
      </tr>
	  </table>   
	  </th:block>
      <table border="1" style="width:100%">
            <tr>
           	   <th style="width:3%">STT</th>
               <th>Code</th>
               <th>Model</th>
<!--                <th>Barcode</th> -->
               <th>Details</th>
               <th>Status</th>
<!--                <th>Created Date</th>
               <th>Updated Date</th> -->
               <th>View</th>
               <th:block sec:authorize="hasRole('ROLE_Admin')"><th>Edit</th></th:block>
               <!-- <th>Action</th> -->
            </tr>
            <tr class="detail status1" th:each ="toolInfo,iter : ${paginationTool.list}">
               <td style="width:3%" th:utext="${iter.index+1}">...</td>
               <td th:utext="${toolInfo.toolCode}">...</td>
               <td th:utext="${toolInfo.model}">...</td>
<!--                <td th:utext="${toolInfo.barcode}">...</td> -->
               <td th:utext="${toolInfo.description}">...</td>
               <td th:utext="${toolInfo.active} ? 'Active' : 'Disabled'">...</td>
<!--                <td th:utext="${toolInfo.createdDate}">...</td>
               <td th:utext="${toolInfo.updatedDate}">...</td> -->
               <td style="width:12%;"><a class="btn btn-primary text-uppercase" style="width:70px; font-size:12px" th:href="@{|/admin/viewTool?toolID=${toolInfo.toolID}|}">View</a></td>
               <th:block sec:authorize="hasRole('ROLE_Admin')"><td style="width:12%;"><a class="btn btn-primary text-uppercase" style="width:70px; font-size:12px" th:href="@{|/admin/toolDetail?toolID=${toolInfo.toolID}|}">Edit</a></td></th:block>
               <!-- <td style="width:17%;"><a class="btn btn-primary text-uppercase" style="width:180px; font-size:12px" th:href="@{|/admin/assignToolToMachine?toolID=${toolInfo.toolID}|}">Assign to Machine</a></td> -->
            </tr>
      </table>      
       
      <br/>
      <div class="page-navigator" th:if="${paginationTool.totalPages > 1}">
         <th:block th:each="page : ${paginationTool.navigationPages}">
         
            <a th:href="@{|/toolList?page=${page}|}" th:if="${page != -1}"
               class="nav-item" th:utext="${page}"></a>
               
            <span class="nav-item" th:if="${page == -1}"> ... </span>
             
         </th:block>
      </div>
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>