<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>iTools Management</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
       
      <div class="page-title">iTools Management</div>
      <div class="demo-container">
         <h3>Main content</h3>
         <ul>
            <li>Management User</li>
            <li>Admin pages</li>
            <li>Reports</li>
         </ul>
      </div>
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>